<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>BIENVENUE SUR GIT</h1>

    <p>Git est ton allié pour travailler efficacement sur tes projets, 
        garder une trace de chaque modification, 
        collaborer sans perdre de travail, 
        et revenir en arrière si nécessaire.
        Avec lui, tu peux explorer, expérimenter et améliorer ton code en toute sécurité.</p>
</body>
</html>